@import "tailwindcss";

/* animated gradient */
/* .animated-gradient {
  background: linear-gradient(120deg, #0f172a, #1d1127, #0b1220);
  background-size: 600% 600%;
  animation: gradientShift 12s ease infinite;
} */

.animated-gradient {
  background: linear-gradient(120deg, #000000, #140a2b, #221447);
  background-size: 400% 400%;
  animation: gradientShift 14s ease infinite;
}


@keyframes gradientShift {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* subtle moving stripes (optional overlay) */
/* .stripes {
  background-image: linear-gradient(
    135deg,
    rgba(255,255,255,0.02) 15%,
    transparent 15%,
    transparent 50%,
    rgba(255,255,255,0.02) 50%,
    rgba(255,255,255,0.02) 65%,
    transparent 65%,
    transparent 100%
  );
  background-size: 40px 40px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  animation: stripesMove 30s linear infinite;
} */
@keyframes stripesMove { to { background-position: -200px -200px; } }
